

*, *:before, *:after{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    font-family: 'Reggae One', cursive;
    font-weight: 100;
}
:root{
    --color-orange-primary: #f12711;
    --color-orange-secondary: #f5af19;

    --color-green-primary: #1d8d36;
    --color-green-secondary: #8ef519;

    --color-blue-primary: #09077c;
    --color-blue-secondary: #00b4db;
}

.container{
    font-size: 20px;
    background: url("/Images/background.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
    height: 12vh;
    background-color: rgb(0, 0, 0);
}
.box {
    margin-top: 2vh;
    border: none;
    max-width: 200px;
}

.img_logo{
    width: clamp(100px, 17.5vw, 200px);
    height: 10vh;
    margin: 8px 5vw 0 5vw;
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    height: 15vh;
}




form{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
    margin-top: -3vh;
    max-width: 550px;
    width: clamp(350px, 15vw, 550px);
}

input[type="text"]
{
    background: #fff;
    width: 70%;
    height: 6.36vh;
    border: none;
    outline: none;
    border-radius: 3.98vh 0 0 3.98vh;
    text-align: center;
    font-size: 3.18vh;
    transition: 0.5s;
}
input[type="submit"]
{
    border-radius: 0 3.98vh 3.98vh 0;
    width: 30%;
    height: 6.36vh;
    border: none;
    outline: none;
    cursor: pointer;
    background: #8d39d1;
    color: #fff;
}
input[type="submit"]:hover
{
    background: #8c00ff;
}

.card-container {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 3rem;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap; 
}

.card {
    width: clamp(200px, 25vw, 250px);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
    border-radius: 0.8rem;
    border-color: #000;
    border-style: solid;
    background-color: #fff;
    z-index: 10;
}


.card img {
    height: 250px;
    width: 200px;
    min-height: 50%;
    transition: all 0.3s ease;
    backface-visibility: hidden;
    margin-bottom: 2rem;
    padding-top: 12px;
}

.card-text {
    font-size: 1.5rem;
    text-align: center;
    margin: 2% 0;
    min-height: 30%;
}


.card-text p {
    padding: 0 5rem;
}


.card-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 10%;
    padding: 1rem;
    font-size: 0.8rem;
    color: #fff;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    bottom: 0;
    background-image: linear-gradient(to right,
    var(--color-orange-primary), var(--color-orange-secondary));
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat:not(:last-of-type):after {
    content:"";
    background-color: rgba(255, 255, 255, 0.3);
    width: 0.15rem;
    height: 8%;
    position: absolute;
    margin-left: 6rem;
}

.img_poke:hover {
    width: 200px;
    z-index: 50;
    transform: scale(1.1);
}
.footer p{
    flex: content;
    justify-content: right;
    align-items: right;
    margin: 25px;
    padding: 12px;
}

@media only screen and (max-width: 768px) {

    .container {
        background: url(Images/backgound-responsive.jpg);
    }
    form{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 5vw;
        margin-top: -3vh;
        max-width: 400px;
        width: clamp(250px, 15vw, 350px);
    }
  
    .card-container {
        flex-direction: column;
        flex-wrap: wrap;
    }


    * { box-sizing: border-box; }
    body {
      font: 16px Arial;
    }
  
    input {
      border: 1px solid transparent;
      background-color: #f1f1f1;
      padding: 5px;
      max-width: 300px; 
      
    }

    input[type=text] {
      background-color: #f1f1f1;
      font-size: 15px;
      padding: 5px;
    }
    input[type=submit] {
      background-color: DodgerBlue;
      color: #fff;
}

.stat:not(:last-of-type):after {
    content:"";
    background-color: rgba(255, 255, 255, 0.3);
    width: 0.15rem;
    height: 8%;
    position: absolute;
    margin-left: 4rem;
}
}